@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* font style */
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.raleway-font{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* bodystyle */
  body{
    max-width: 1200px;
    margin: 0 auto;
    color: #111111;
    background-color: #FFFFFF;
   
  }
  /* nav style */
  .navbar{
    display: flex;
    justify-content: space-between;
  }
 
 
  .nav-item-1{
    display: flex;
    gap: 10px;
  }
  /* .nav-item-1 h1{
    font-size: 32px;
    line-height: 30px;
    
  } */
  .nav-item-1 img{
    width: 60px;
    height: 60px;
  }
  
  .nav-item-2{
    list-style: none;
    display: flex;
    gap: 32px;
    font-size:20px ;
  }

  /* li text color  */
  .nav-item-2 .home{
    color:#FEA301 ;
  }
  .nav-item-2 .about{
    color: #01ACFD;
  }
  .nav-item-2 .facilites{
    color: #05D4DF;
  }
  .nav-item-2 .admission{
    color: #5D58EF;
  }
  /* navbar btn style */
  
  .navbar>div>i{
    display: none;
  }
  .nav-item-3-btn{
    width: 190px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    background-color: #FEA301;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    
  }
  /* hero style */
  .hero-section{
    display: flex;
   flex-wrap: wrap;
    align-items: center;
    gap: 50px;
   
  }
.hero-content .hero-h1{
    font-size: 56px;
    line-height: 61px;
}
.empowering{
    color: #FEA301;
}

.towards{
    color: #01ACFD;

}
.hero-p{
    font-size: 20px;
}
.hero-btn{
    width: 190px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    background-color:#111111;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
}
 /* Standard Curriculum style  */
main{
  background-image: url('image/bg.png');
}
 #standard>h2{
  text-align: center;
  font-size: 46px;
  line-height: 58px;
  margin-top: 100px;
 
 }
 .standard-content{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 100px;
  gap:32px ;
 }

 /* standard content bg/w/h/box  style */
 .kids-content{
  background-image: linear-gradient(to top,rgb(255,255,255) , rgb(222,245,255));
  box-shadow: 0px 0px 5px 0px rgb(222,245,255);
  border-radius: 19px;
  width: 368px;
  height: 481px;
  margin-top: 36px;
  padding: 28px;
 }
 .elementary-content{
  background-image: linear-gradient(to top,rgb(255, 255, 255) , rgb(255, 244, 220));
  box-shadow: 0px 0px 5px 0px rgb(222,244,220);
  border-radius: 19px;
  width: 368px;
  height: 481px;
  margin-top: 36px;
  padding: 28px;
  
 }
 .middle-content{
  background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(242,232,255) );
  box-shadow: 0px 0px 5px 0px rgb(242,232,255);
  border-radius: 19px;
  width: 368px;
  height: 481px;
  margin-top: 36px;
  padding: 28px;
 }
 /* stander content h3 style */
 .kinder-h3,.elementary-h3,.middle-h3{
  font-size: 25px;
  line-height: 30px;
  
 }
  /* stander content img style */
 .kids-content>img , .elementary-content>img , .middle-content>img{
  width: 138px;
  height: 125px;
 }
  /* stander content phgrp style */
 .kids-content>p ,.elementary-content>p , .middle-content>p{
  color: #808080;
  line-height: 28px;
 }
  /* stander content button style */
 .kids-content>a, .elementary-content>a, .middle-content>a{
  border: none;
  text-decoration: none;
 }
 /* stander  icon style */
 .standard-icon{
  
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 80px;

   }
   .standard-icon>button{
    
    border: none;
    border-radius:30px ;
    background-color: #FEA301;
    color: #FFFFFF;
    width: 60px;
    height: 60px;
    
   }


   /* our-stories style */
   #our-stories>h2{
    text-align: center;
    font-size: 46px;
    gap: 60px;
   }
   .our-stories-container{
    display: flex;
    justify-content: center;
    margin: 60px;
   }


  .card {
    width: 540px;
    height: 630px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  /* .image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
   */
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
  }
  
  .content {
    padding: 20px;
  }
  
  .date {
    display: inline-block;
    background-color: #3CD8E8;
    color: #fff;
    width: 174px;
    height: 48px;
    border-radius: 48px;
    font-size: 12px;
    border: none;
    position: relative;
    margin-left: 20px;
    margin-top: -100px;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    margin: 0px 10px ;
    line-height:28px ;
  }
  
  .description {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
  }
/* card container2 style */

  .card-container-2{
    display: grid;
    grid-template-columns: auto auto;
    width: 601px;
    height: 622px;
   
  }
  .card-2{
    width: 291px;
    height: 302px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
 

 
  /* responsive style */
  @media screen and  (max-width: 576px) {
     .nav-item-1>h1 , .nav-item-2 , .nav-item-3-btn{
        display: none;
     
    }
    .navbar{
      border-bottom:1px solid #FEA301;
    }
    .navbar>div>i{
      display: block;
      margin: 15px;
      padding: 15px;
    }
    .hero-section{
        flex-direction: column-reverse;
        gap: 20px;
        text-align: center;
    }
    .standard-content{
      flex-direction: column;
     
     }
     .kids-content, .elementary-content , .middle-content{
      width: 357px;
      height: 324px;
      
     }
     .kids-content>img , .elementary-content>img , .middle-content>img{
      width: 94px;
      height: 85px;
     }
     .standard-icon{
      visibility: hidden;
     }
     
   
   
  }



  @media screen and (min-width: 576px) and (max-width: 992px){
  
    .navbar{
     flex-wrap:wrap;
    } 
    .nav-item-2{
        margin-right: 20px;
    }
    .nav-item-3-btn{
        margin-left: 250px;
    }
    .hero-section{
       flex-wrap: wrap;
    }
    .hero-content>.hero-h1,.hero-btn,.hero-p{
      margin-left: 100px;
    }
    .hero-imge{
     margin-left: 100px;
    }
    .standard-content{
      flex-direction: column;
      
     }
  }